{
  "extends": [
    "react-app",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "no-console": 1,
    "no-debugger": 2,
    "react/jsx-curly-spacing": 2,
    "semi-style": 2,
    "curly": 1,
    "object-curly-newline": 2,
    "arrow-spacing": 2,
    "react/jsx-tag-spacing": 2,
    "semi": 2,
    "key-spacing": 2,
    "comma-spacing": 1,
    "@typescript-eslint/ban-ts-comment": 0,
    "react/prop-types": 0

  },
  "plugins": [
    "prettier"
  ]
}